html {
  position: relative;
}

/* top nav bar */
.top-nav {
  height: 5rem;
  width: 100vw;
  margin: 0;
  background-color:black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-evenly;
}

.top-nav .riot-logo {
  width: 160px;
  height: 160px;
  background: url("https://lolstatic-a.akamaihd.net/riotbar/live/1.1.1/images/navigation/fistsprite.png") 0 -2400px no-repeat;
  transition: background-position 0.25s steps(15, end);
  /* transition-property: background-position;
  transition-duration: 0.25s;
  transition-delay: 0s; */
  transform: scale(0.33);

  position: absolute;
  top: -55px;
  left: -55px;

}

.top-nav .play-now-button {
  font-size: 11px;
  font-weight: 600;
  border-radius: 2px;
  text-align: center;
  line-height: 16px;
  height: 41px;
  padding: 12px 0;
  position: relative;
  min-width: 129px; 
  max-width: 220px;
  z-index: 0;
  text-overflow: ellipsis;
  margin-top: 20px;
  color: white;
  background-color: #986F45 ;
  border-color: #986F45;

}

.top-nav ul {
  display: flex;
  flex-direction: row;
  
}

.top-nav > img {
  width: 50px;
}

/* ============= */


/* top-nav dropdown bar */
.riot-games-dropdown {
  display: flex;
  flex-direction: column;

}

.riot-games-dropdown > img {
  width: 20%;
}
/* ================ */

/* ShowPage.js css */
.show-page {
  
  width: 100vw;
  height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://playruneterra.com/assets/45ccd50389e0d91555d3d2a6d2d83a2d3ca8e297/static/image/hero/hero-background.jpg");

  /* background: linear-gradient(transparent 60%,#e4e0da); */
}


.show-page.riot-logo {  
  width: 100%;
}
.show-page > img{
 
  width: 10%;
}


.show-page.miss-fortune{
  z-index: 5;
}

.show-page > .play-now-button {
  border-radius: 2px;
  z-index: 1;
  background-image: linear-gradient(180deg,rgba(229,167,87,0) 50%,rgba(152,111,69,.4) 80%,#986f45 101%);
}

.show-page.available-on {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;

 
}


.available-on.available-on-text{
  font-family: Open Sans,sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: #696053;
}
/* =============== */

/* be-legendary and under */
.be-legendary {
  color: blanchedalmond;
  position: relative;
  background-image: url("https://playruneterra.com/assets/45ccd50389e0d91555d3d2a6d2d83a2d3ca8e297/static/image/general/background-dark-grey-noise.jpg");
}
/* ================ */