* {
  margin: 0;
  padding: 0;
}

.w {
  width: 1200px;
  margin: auto;
  background-color: pink;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* top nav start  */
.top-nav {
  height: 80px;
  width: 1200px;
  background-color: black;
}
.header {
  float: left;
}
.header ul li {
  float: left;
  margin-left: 40px;
}

.header ul li img {
  margin-top: 14px;
}

.header ul li a {
  display: block;
  height: 80px;
  line-height: 80px;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.header ul li a:hover {
  border-bottom: 2px solid #c49250;
}

.top-nav button {
  float: right;
  width: 150px;
  height: 42px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-right: 40px;
  margin-top: 18px;
  background-color: #c49250;
  border: 0;
  border-radius: 3px;
}
/* top nav end  */

/* show page start  */
.show-page {
  background: url("https://playruneterra.com/assets/bea93f03d15a03aee6c2643ea0ae9331def656ad/static/image/hero/hero-background.jpg")
    round top center;
}
.show-page .image-container {
  width: 500px;
  margin: 0 auto;
}

.show-page img {
  width: 80%;
  margin: 0 auto;
}

.show-page button {
  display: block;
  font-family: Oswald, Arial, Georgia, sans-serif;
  font-size: 14px;
  letter-spacing: 0.01em;
  width: 150px;
  height: 42px;
  color: white;
  font-weight: 700;
  background-color: #c49250;
  border: 0;
  border-radius: 8px;
  margin: 0 auto;
}

.show-page .available-on .available-on-text {
  font-family: Open Sans, sans-serif;
  color: #696053;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.available-on-icons ul {
  width: 400px;
  /* background-color: aquamarine; */
  margin: 0 auto;
}

.available-on-icons ul li {
  float: left;
  margin: 0 6px;
}

.available-on-icons img {
  width: 120px;
}

/* show page end  */

/* be-legendary start  */
.be-legendary {
  background: url("https://playruneterra.com/assets/bea93f03d15a03aee6c2643ea0ae9331def656ad/static/image/general/background-black-noise.jpg")
  repeat;
}
.be-legendary h4 {
  color: #c49250;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding: 20px 0;
}

.be-legendary p {
  padding: 8px 0;
  text-align: center;
  color: #d5d2c9;
}

.three-images-container ul {
  width: 1200px;
  margin: 0 auto;
}

.three-images-container ul li {
  float: left;
  width: 350px;
  height: 500px;
  text-align: center;
  margin: 0 25px;
  background-color: #d5d2c9;
}

.three-images-container ul li .intro-card-title {
  font-family: Oswald, Arial, Georgia, sans-serif;
  color: #696053;
  font-size: 24px;
  padding: 8px 0;
}

.three-images-container ul li .intro-card-content {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 18px;
  margin: 15px 15px;
}
.intro-card img {
  float: left;
  width: 100%;

  /* min-height: 350px; */
}
/* be-legendary end  */

/* footer start  */
.footer{
  background-color: black;
}

.abouts ul{
  width: 490px;
  /* background-color: aqua; */
  margin: 0 auto;
}

.abouts ul li {
  float: left;
}

.abouts ul li a {
  display: block;
  height: 28px;
  color: gray;
  font-size: 12px;
  font-weight: 700;
  margin:30px 10px 10px 10px;
}
.abouts ul li a:hover {
  color: white;
}

.footer p {
  text-align: center;
  font-size: 13px;
  color: gray;
  padding: 30px 0;
}

.footer>ul {
  width: 210px;
  /* background-color: aqua; */
  margin: 0 auto;
}

.footer>ul>li {
  float: left;
}

.footer>ul>li>a {
  display: block;
  height: 30px;
  color: gray;
  font-size: 12px;
  margin: 0 15px 30px 15px;
  text-decoration: underline;
}

.teen {
  /* background-color: purple; */
  width: 215px;
  height: 200px;
  margin: 0 auto;
}

.teen img{
  float: left;
}
.teen p {
  text-align: start;
  float: left;
  padding: 0;
  padding-left: 5px;
}
/* footer end  */